.bg-themecolor1 {
    background-color: #ae5433;
}

.bg-themecolor2 {
    background-color: #ecc481;
}

.bg-themecolor3 {
    background-color: #aa462d;
}

.themecolor1 {
    color: #ae5433;
}

.themecolor2 {
    color: #ecc481;
}

.themecolor3 {
    color: #aa462d;
}